@use 'root';
@use 'code';
@use 'links';
@use 'tables';

.defaultValue {
  display: inline-block;
  overflow: auto;
  border-radius: 0.4rem;
  box-shadow:
    rgb(0 0 0 / 10%) 0 0.1rem 0.3rem 0.1rem,
    rgb(0 0 0 / 7%) 0 0 0 0.1rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 1rem;

  tr {
    &,
    th,
    td {
      border-top: none;
      border-bottom: none;
      padding: 0.5em 1em;
    }
  }

  th {
    border-left: none;
  }

  td {
    border-left-width: 1px;
    border-left-style: solid;
    border-right: none;
  }
}
